{% extends "base.html" %}

{% block content %}

<h1>Signup</h1>
    <form action="signup" method="post">

        <label for="username">Username:</label>
        <input name="username" type = "text" class = "blogtitle" value={{username}}>
        <span class="error">{{username_error}}</span>


        <p></p>
        <label for="signup_password">Password:</label>
        <input name="password" type = "password" class = "blogtitle" value={{password}}>
        <span class="error">{{password_error}}</span>

        <p></p>
        <label for="verify">Verify Password:</label>
        <input name="verify" type = "password" class = "blogtitle" value={{verify}}>
        <span class="error">{{verify_error}}</span>

        <p></p>
        <input type="submit" value ="Submit"/>

    </form>


{% endblock %}
